<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

<h1 class="sub-title">{{id>-1? "Update User":"Add User"}}</h1>
<br>

<form #form="ngForm" class="box form" name="myForm">

    <div class="col-flex">

        <div class="row-flex">
            <label for="Name" class="row-flex">Name <div
                    *ngIf="form.form.controls['Name']?.touched && form.form.controls['Name']?.invalid" title="Invalid"
                    class="invalid"> *
                </div></label>
            <div class="field-position">
                <input class="w3-input w3-border field" type="text"
                    [ngStyle]="{'border-left':(user.name == '' && NameControl.touched)? 'solid red' : 'solid black' }"
                    [(ngModel)]="user.name" required name="Name" id="Name" #NameControl="ngModel">
            </div>
        </div>



        <div class="row-flex">
            <label for="Dob" class="row-flex">Dob <div
                    *ngIf="form.form.controls['Dob']?.touched && form.form.controls['Dob']?.invalid" title="Invalid"
                    class="invalid"> *
                </div></label>
            <div class="field-position">
                <input class="w3-input w3-border field" type="date"
                    [ngStyle]="{'border-left':(user.dob  && DobControl.touched)? 'solid red' : 'solid black' }"
                    [(ngModel)]="user.dob" required name="Dob" id="Dob" #DobControl="ngModel">
            </div>
        </div>



        <div class="row-flex">
            <label for="email" class="row-flex">Email <div
                    *ngIf="form.form.controls['email']?.touched && form.form.controls['email']?.invalid" title="Invalid"
                    class="invalid"> *
                </div></label>
            <div class="field-position">
                <input class="w3-input w3-border field" type="email"
                    [ngStyle]="{'border-left':(user.email == '' && emailControl.touched)? 'solid red' : 'solid black' }"
                    [(ngModel)]="user.email" email required name="email" id="email" #emailControl="ngModel">
            </div>
        </div>

        <div class="row-flex ">
            <label for="Password" class="row-flex">Password <div
                    *ngIf="form.form.controls['Password']?.touched && form.form.controls['Password']?.invalid"
                    title="Invalid" class="invalid">
                    *
                </div></label>

            <div class="field-position">
                <input class="w3-input w3-border field" type="password"
                    [ngStyle]="{'border-left':(user.password == '' && PasswordControl.touched)? 'solid red' : 'solid black' }"
                    [(ngModel)]="user.password" name="Password" required id="Password" #PasswordControl="ngModel">


                <button type="submit" (click)="addUser(form)">{{id>-1? "Save": "Add"}}
                </button>
            </div>
        </div>




    </div>
    <div class="empty-box"></div>

</form>