<h1>{{id>-1? "Update user":"Add a new User"}}</h1>
<form #form="ngForm" name="myForm">

    <label for="name">Name</label>
    <div class="row-flex">
        <input class="field" type="text"
            [ngStyle]="{'border-left':(user.name == '' && nameControl.touched)? 'solid red' : 'solid black' }"
            [(ngModel)]="user.name" minlength="4" required name="name" id="name" #nameControl="ngModel"><br><br>
        <div *ngIf="form.form.controls['name']?.touched && form.form.controls['name']?.invalid" title="Invalid"
            class="invalid"> !
        </div>
    </div>


    <label for="username">Username</label>
    <div class="row-flex">
        <input class="field" type="text"
            [ngStyle]="{'border-left':(user.username == '' && usernameControl.touched)? 'solid red' : 'solid black' }"
            [(ngModel)]="user.username" required name="username" id="username" #usernameControl="ngModel"><br><br>
        <div *ngIf="form.form.controls['username']?.touched && form.form.controls['username']?.invalid" title="Invalid"
            class="invalid"> !
        </div>
    </div>

    <label for="dob">Date Of Birth</label>
    <div class="row-flex">
        <input class="field" type="date" [ngStyle]="{'border-left':( dobControl.touched)? 'solid red' : 'solid black' }"
            [(ngModel)]="user.dob" name="dob" required id="dob" #dobControl="ngModel"><br><br>
        <div *ngIf="form.form.controls['dob']?.touched  && form.form.controls['dob']?.invalid" title="Invalid"
            class="invalid"> !
        </div>
    </div>





    <label for="email">Email</label>
    <div class="row-flex">
        <input class="field" type="email"
            [ngStyle]="{'border-left':(user.email == '' && emailControl.touched)? 'solid red' : 'solid black' }"
            [(ngModel)]="user.email" name="email" email required id="email" #emailControl="ngModel"><br><br>
        <div *ngIf="form.form.controls['email']?.touched && form.form.controls['email']?.invalid" title="Invalid"
            class="invalid">
            !
        </div>
    </div>

    <label for="password">Password</label>

    <div class="row-flex">
        <input class="field" type="password "
            [ngStyle]="{'border-left':(user.password == '' && passwordControl.touched)? 'solid red' : 'solid black' }"
            [(ngModel)]="user.password" minlength="4" required name="password" id="password"
            #passwordControl="ngModel"><br><br>
        <div *ngIf="form.form.controls['password']?.touched  && form.form.controls['password']?.invalid "
            title="Invalid" class="invalid"> !
        </div>
    </div>




</form>

<button type="submit" (click)="addUser(form)">{{id>-1? "Update": "Add"}}
</button>
<br>