<table border="1">
    <thead>
        <tr>
            <th>Name</th>
            <th>Username</th>
            <th>Age</th>
            <th>Email</th>

        </tr>


    </thead>
    <tbody>

        <!-- <tr *ngFor="let _user of userList">
            <td>{{_user.name}} </td>
            <td>{{_user.username}}</td>
            <td>{{_user.age}}</td>
            <td>{{_user.email}}</td>
            <th><button (click)="deleteUser(_user)">x</button></th>

        </tr>-->
    </tbody>
</table>