<!DOCTYPE html>
<html lang="en">

<head>
    <title>Layout Task</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>

    </style>

</head>

<body class="body col-flex">

    <div class="header">

        <div class="header-item">
            <button class="no-hover  button" onclick="addLine()">Add</button>

            <button class="reset" onClick="window.location.reload();"><i class=" fas fa-redo-alt"></i>.</button>
        </div>


        <div id="content"></div>
    </div>

    <div class="mid row-flex">
        <div class="left-section">
            <!-- Sidebar -->
            <div class="side-bar col-flex">

                <a class="button" routerLink="/user/form" routerLinkActive="active">Form </a>
                <a class="button">Page 2</a>
                <a class="button">Page 3</a>
            </div>

        </div>
        <div class="right-section">

            <div class="page">
                <a routerLink="/user/table" routerLinkActive="active">

                </a>
                <br>
                <a routerLink="/user/form" routerLinkActive="active">

                </a>
                <router-outlet></router-outlet>
            </div>


        </div>
    </div>

    <div class=" footer">
        Footer Section
    </div>

</body>

</html>