<!DOCTYPE html>
<html lang="en">

<head>
    <title>Users System</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <style>

    </style>

</head>

<body class="body col-flex">

    <div class="header">
        <p class="title">APP LOGO</p>
    </div>
    <div class="mid row-flex">
        <div class="left-section col-flex">

            <a class=" side-button " [ngClass]="{'active-link': router.url=='/user/list'}" routerLink="/user/list"
                routerLinkActive="active">Users
            </a>
            <a class="side-button" [ngClass]="{'active-link': router.url=='/post'}" routerLink="/post"
                routerLinkActive="active">Posts</a>
            <a class="side-button" [ngClass]="{'active-link': router.url=='/user/2'}">Settings</a>


        </div>
        <div class="right-section">

            <div class="page">
                <a routerLink="/user/table" routerLinkActive="active">

                </a>
                <br>
                <a routerLink="/user/form" routerLinkActive="active">

                </a>
                <router-outlet></router-outlet>
            </div>


        </div>
    </div>


</body>

</html>