<table border="1">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Age</th>
            <th>DoB</th>
            <th>Email</th>

        </tr>


    </thead>
    <tbody>

        <tr *ngFor="let _user of userService.userList">
            <td>{{_user.id}} </td>
            <td>{{_user.name}} </td>
            <td>{{_user.username}}</td>
            <td>{{_user.dob | agePipe}}</td>
            <td>{{_user.dob }}</td>
            <td>{{_user.email}}</td>
            <th><button (click)="deleteUser(_user)">x</button></th>
            <th><button (click)="editUser(_user)">edit</button></th>

        </tr>
    </tbody>
</table>