/* You can add global styles to this file, and also import other style files */

.sub-title {
    font-size: 20px;
    font-weight: 700;
    flex: 1;
    margin: auto;
}

.row-flex {
    display: flex;
    flex-flow: row;
}

.empty-box {
    height: 7vh;
}

.box {
    box-shadow: 0 0 2px 2px #EFEFEF;

}

.col-flex {
    display: flex;
    flex-flow: column;
}

.flex-display {
    display: flex;
    flex-direction: row;
}