<div class="col-flex">
    <div class="main">
        <div class="box col-flex">
            <textarea [(ngModel)]="post" placeholder="Add your Post" name="post" id="post" cols="60"
                rows="2"></textarea>
            <button type="submit">Share
            </button>
        </div>

        <div class="empty-box"></div>
        <div class=" newsfeed">
            <h1 class="sub-title">Posts</h1>
        </div>



        <div class="box post col-flex">
            <div>post text</div>
            <div>post date</div>
        </div>

    </div>
</div>